body{
  background-color: aqua;

}
.content-container{
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.main-content{
    width: 750px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #FFFF;
    box-shadow: 5px 5px 5px rgb(62, 62, 62);
    border-radius: 12px;
}
.content-title{
    padding: 16px 0px 16px ;
    background-color:  #FFFF;
}
/*--------------------Timer---------------------------*/
.timer-holder{
    width: 100%;
    height: 10px;
    /* background-color: #ddd; */
    overflow: hidden;
    margin-bottom: 2px;
    display: none;
}
.line-timer {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: #04fc3e; /* YouTube red color  #d3fc04  #fce304  #ff8d01  #ff0101*/ 
  box-shadow: 0 0 1px #04fc3e, 0 0 3px #04fc3e;
  transition: width 0.1s ease, box-shadow 0.1s ease;
  
}


.content{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.content-holder{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}
.choices{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.btn_choices.selected{
    background-color: chartreuse;
    transition: all 0.5s ease ;
    color: black;
}
/* Generating/Loading*/
.loading-holder{
    display: flex;
    justify-content: center;
    align-items: center;

}
.content-loading{
    font-size: 24px;
    font-weight: 600;
    display: none;
}
/*Quiz Content*/
.quiz-holder{
    display: none;
}
.quiz-content{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 30px;
}
.number_holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
     margin-bottom: 20px;
}
.number_holder p {
    font-size: 5rem;
    font-weight: 600;
    margin: 0;
}
.ans_div{
    display: flex;
    justify-content: center;
    gap: 5px;
   
}
.ans_div input {
      width: 100%;
      padding: 12px;
      border: 2px solid #ddd;
      border-radius: 10px;
      font-size: 2rem;
      text-align: center;
      outline: none;
      transition: border 0.3s;
}

.ans_div input:focus {
    border-color: #4CAF50;
}

/* FOR DISPLAY RESULT */
.result-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.result-content{
    font-size: 3.2rem;
    font-weight: 600;
}
.return_holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
